<form action="/post/draft" method="post">
    <section>
        <label for="title">title</label>
        <input name="title">
    </section>
    <section>
        <label for="post">whats on your mind</label>
        <input name="post">
        <button>post</button>
    </section>
</form>