<h4>come on, just make an account for the secret clubhouse</h4>
<form action="" method="POST"> </form>
    <label for="username">what username would you like?</label>
    <input name="username" placeholder="HIM or HER or THEM">
    <label for="password">password</label>
    <input name="password" type="password">
    <button>join the clubhouse</button>
</form>